@media (max-width: 600px){
    /* HEADER STYLING */
    .header {
        padding: 0.5em;
    }

    .header-title {
        font-size: 24px;
    }

    .menu-hamburger {
        padding: 0.5em;
        font-size: 15px;
    }

    .bandeira-lang {
        width: 35px;
    }

    .sidepanel-link {
        font-size: 16px;
        
    }
}